@font-face {
    src: url('../Fonts/NunitoSans-Regular.ttf');
    font-family: 'NunitoSans-Regular';
}
@font-face {
    font-family: 'YesevaOne-Regular';
    src: url('../Fonts/YesevaOne-Regular.ttf');
}
.body {
    margin: 0px;
    height: 7721px;
}
.header {
    /*max-width: 1440px;*/
    height: 83px;
    background-color: #131313;
}
.navigation {
    /*max-width: 1440px;*/
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    margin-left: 92px;
    text-align: center;
}
.logo, .phone_number {
    font-family: 'NunitoSans-Regular';
    font-size: 11px;
    color: #E3B873;
    text-transform: uppercase;
}
.phone_number {
    text-decoration: underline;
    margin-right: 45px;
}
.nav_list {
    display: flex;
    margin-left: 95px;
    margin-right: 67px;
    padding: 0px;
    position: relative;
    bottom: 2px;
}
.item {
    list-style: none;
    margin-right: 47px; 
       
}
.link {
    font-family: 'NunitoSans-Regular';
    font-size: 11px;
    text-decoration: none;
}
.item .link {
    color: #ffffff;
}
.item .link:hover {
    color: #E3B873;
}
.request_call {
    cursor: pointer;
    font-family: 'NunitoSans-Regular';
    font-style: italic;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    width: 161px;
    height: 37px;
    margin-right: 90px;
    background-color: #E3B873;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}
.first_block {
    height: 707px;
    background-image: url('../Image/back_img1.jpg');
}
.back_black {
    display: flex;
    justify-content: center;
    height: 707px;
    background: rgba(0, 0, 0, 0.7);
}
.text_block {
    width: 1171px;
    padding: 194px 134px;
}
.title_main {
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px;
}
.title_main_color {
    color: #E3B873;
}
.title_p {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #fff;
}
.calculate {
    cursor: pointer;
    width: 207px;
    height: 51px;
    background-color: #E3B873;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    font-family: 'NunitoSans-Regular';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
}
.submit, .submit1 {
    cursor: pointer;
    width: 207px;
    height: 51px;
    margin-left: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: 'NunitoSans-Regular';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    background: none;
}
.submit1 {
    display: none;
}
.text_img_block_back {
    display: flex;
    justify-content: center;
    height: 1074px;
    background: #131313;
    position: relative;
}
.text_img_block {
    display: flex;
    height: 553px;
    background: #131313;
    padding: 107px 134px 92px;
}
.mobile_complited_projects {
    display: none;
}
.text_block1 {
    padding-right: 50px;
}
.title_h2 {
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 69px;
    padding-bottom: 34px;
    margin: 0px;
}
.text_block_inf_p, .text_block_inf_p_mobile {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    margin: 0px;
}
.text_block_inf_p_mobile {
    display: none;
}
.text_block_inf {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 42px;
}
.text_block_options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 65px;
}
.options1 {
    margin-bottom: 34px;
}
.options3, .options4 {
    margin-bottom: 85px;
}
.option_title {
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0px;
    color: #E3B873;
}
.option_text {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    padding-top: 9px;
    margin: 0px;
    color: #fff;
   
}
.projects {
    width: 679px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}
.item1 {
    height: 26px;
    list-style: none;
}
.item1:hover {
    height: 25px;
    margin: 0px;
    color: #E3B873;
    border-bottom: 1px solid #E3B873; 
}
.link_projects {
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}
.link_projects:hover {
    color: #E3B873;
}
.img_block {
    width: 679px;
}
.slider_stroke_block {
    cursor: pointer;
}
.slider_img {
    width: 679px;
    height: 482px;
    background-position: center center;
    position: absolute;
    opacity: 0;
}
.slider_img.active {
    opacity: 1;
}
.img_chairs {
    padding-top: 43px;
}

.stroke, .stroke1 {
    position: relative;
    bottom: 12px;
}
.stroke {
    right: 11px;
}
.stroke1 {
    left: 23px;
}
.stroke_left, .stroke_right {
    position: relative;
    bottom: 6px;
}

.dot, .dot_light {
    position: relative;
    bottom: 8px;
    left: 14px;
    padding-right: 12px;
}
.stroke_right {
    left: 12px;
}
.text_video_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 324px;
}
.title_text_video_block, .title_text_img_block_types_of_repair {
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
    padding-bottom: 13px;
}
.img_camera {
    padding-bottom: 31px;
}
.camera_line, .camera_line_right, .weekdays_line, .weekdays_line_right {
    position: relative;
    bottom: 12px;
}
.camera_line {
    right: 5px;
}
.camera_line_right {
    left: 5px;
}
.img_video {
    height: 434px;
    background-image: url('../Image/man_on_table.png');
}
.play_button {
    position: relative;
    left: 41.4%;
    bottom: 282px;
}
.video_back {
    width: 817px;
    height: 434px;
    background-color: rgba(0, 0, 0, 0.8)
}
.text_block2 {
    width: 681px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.line {
    padding-top: 63px;
}
.text_under_video, .text_under_video_mobile {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    padding-top: 35px;
    margin: 0px;
}
.text_under_video_mobile {
    display: none;
}
.form {
    width: 769px;
    text-align: center;
    margin-top: 91px;
    
}
.form1 {
    display: flex;
    justify-content: space-between;
}
.input_name, .input_phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.label_form {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    padding-bottom: 7px;
    margin: 0px;
}
.input_text {
    width: 231px;
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 14px;
    color: #363636;
    border-style: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    
}
.button_submit {
    width: 200px;
    height: 51px;
    background-color: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border-color: #E3B873;
    color: #fff;
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    cursor: pointer;
}
.checkbox_div {
    margin-top: 35px;
}
.label_checkbox {
    cursor: pointer;
}
.checkbox {
    display: none;
}
.box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #E3B873;
    border-radius: 1px;
    color: #fff;
}
.box::before {
    content: "\2714";
    opacity: 0;
    transition: 0.2s;
}
.checkbox:checked + .box::before{
    opacity: 1;
}
.text {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}
.text_img_block_types_of_repair {
    position: relative;
    bottom: 150px;
}
.title_of_third_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_text_img_block_types_of_repair {
    color: #181818;
}
.block_of_three_rooms {
    display: flex;
    width: 1238px;
    height: 608px;
    justify-content: center;
    margin: auto;
    padding-top: 31px;
}
.room1 {
    width: 392px;
    height: 608px;
    background-image: url('../Image/wall.png');
    background-repeat: no-repeat;
    margin-right: 30px;
}
.room2 {
    width: 392px;
    height: 608px;
    background-image: url('../Image/tv_and_light.png');
    background-repeat: no-repeat;
    margin-right: 30px;
}
.room3 {
    width: 392px;
    height: 608px;
    background-image: url('../Image/light_and_tv_black.png');
    background-repeat: no-repeat;
}
.title_and_ul {
    position: relative;
    top: 294px;
    left: 31px;
    width: 330px;
    height: 286px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

}
.room1_title, .room2_title, .room3_title {
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    padding-left: 34px;
    padding-top: 25px;
}
.Redecorating, .Overhaul, .Designer_Repair {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 267px;
    height: 178px;
    padding-left: 51px;
    padding-top: 13px;
    color: #959595;
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    margin: 0px;
}
.price {
    display: flex;
    width: 228px;
    height: 54px;
    background-color: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color:#fff;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.pork_vector {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #E3B873;
}
.sketch_and_form_block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 725.44px;
    position: relative;
    margin: auto;
}
.sketch_block {
    width: 703px;
    height: 645px;
    background-image: url('../Image/sketch.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 253.81px;
    margin-right: 131px;
    
}
.sketch_block_list {
    display: flex;
    align-items: center;
}
.sketch_block_list:first-of-type {
    padding-top: 117px;
}
.circle {
    display: flex;
    width: 88px;
    height: 79px;
    position: relative;
    top: 5px;
    background-image: url('../Image/Icons/cirkle.png');
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.sketch_block_list:last-of-type {
    padding-bottom: 56px;
}
.form_block {
    display: flex;
    flex-direction: column;
    width: 506px;
    height: 509px;
    background: #131313;
    margin-top: 106px;
    margin-right: 100px;
}
.title_form_block {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    padding-top: 28px;
    margin: 0px;
}
.form2 {
    display: flex;
    flex-direction: column;
    width: 506px;
    height: 509px;
    padding-left: 49px;
    
}
.input_name2, .input_phone2, .input_email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 408px;
    height: 50px;
}
.input_name2 {
    padding-top: 39px;
    padding-bottom: 0px;
}
.input_phone2, .input_email {
    padding-top: 48px;
    padding-bottom: 0px;
}
.checkbox_div2 {
    padding-top: 10px;
    padding-bottom: 39px;
}
.label_form2 {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 3px;
    margin: 0px;
}
.input_text2 {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 408px;
    color: #fff;
    background: #131313;
    border-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.text2 {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
}
.label_checkbox2 {
    cursor: pointer;
}
.button_submit2 {
    width: 213px;
    height: 51px;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border-color: #E3B873;
    color: #fff;
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0px 49px 27px 195px;
}
.pork_vector {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pork_message {
    display: flex;
    background: #fff;
    margin-left: 32px;
    margin-top: 38px;
}
.pork {
    position: relative;
    left: 10px;
}
.dollar {
    position: relative;
    right: 19px;
}
.eye {
    position: relative;
    right: 13px;
    bottom: 2px;
}
.message {
    display: flex;
    align-items: center;
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    margin-left: 25px;
}
.fantasies_block {
    width: 100%;
    position: relative;
    top: 142px;
    margin: auto;
}
.left_stroke2 {
    display: none;
}
.right_stroke2 {
    display: none;
}
.fantasies_text_block {
    width: auto;
    margin-left: 99px;
}
.back_img {
    width: 100%;
    height: 864px;
    background-image: url('../Image/back_img3.png');
    margin-top: 112px;
}
.back_black2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 864px;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.title_fant_block {
    width: 411px;
    padding-top: 137px;
    padding-bottom: 47px;
    margin: 0px;
    margin-right: 77px;
}
.fantasies_ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.fantasies_ul_item {
    height: 26px;
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-bottom: 23px;
}
.fantasies_ul_item:hover {
    color: #E3B873;
    /*border-bottom: 1px solid #E3B873;
    height: 26.2px;*/
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 0.66px;
}
.fantasies_img_block1 {
    width: 354px;
    position: relative;
    bottom: 41.2px;
    margin-right: 43px;
}
.big_chess {
    margin-bottom: 39px;
}
.fantasies_img_block2 {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 112.5px;
    margin-right: 100px;
}
.sofa {
    margin-bottom: 37px;
}
.table {
    margin-bottom: 39px;
}
.clients_h2 {
    margin-top: 70px;
}
.our_clients_block {
    position: relative;
    top: 200px;
    width: 1236px;
    height: 642px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.text_our_clients_block {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 0px;
}
.clients {
    width: 1236px;
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}
.client1, .client2, .client3 {
    width: 376px;
    height: 407px;
    margin-right: 54px;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 32px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.client_face {
    display: flex;
    align-items: center;

}
.face {
    border-radius: 50%;
    margin-bottom: 22px;
}
.clients_name {
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 18px;
    margin-left: 23px;
}
.about_client {
    width: 324px;
    height: 216px;
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 23.4px;
    margin: 0px;
    margin-bottom: 63px;
}

.vector_img {
    position: relative;
    bottom: 15px;
    right: 35px;
}
.back_city {
    position: relative;
    top: 280px;
    height: 505px;
    display: flex;
    margin: auto;
}
.back_city1 {
    width: 50%;
    height: 505px;
    background-image: url('../Image/frame1.png');
    opacity: 0.05;
}
.back_city2 {
    width: 50%;
    height: 505px;
    background-image: url('../Image/frame2.png');
    opacity: 0.05;
}
.any_question_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 883px;
    height: 445px;
    background-color: #181818;
    position: relative;
    z-index: 1;
    margin: auto;
}
.title_any_question {
    margin-top: 34px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.form3 {
    display: flex;
    flex-flow: row wrap;
    width: 520px;
    height: 304px;
    
    
}
.input_name3, .input_phone3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 231px;
    height: 50px;
}
.input_question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 517px;
    height: 50px;

}
.input_name3, .input_phone3 {
    padding-top: 45px;
    padding-bottom: 0px;
}
.input_question {
    padding-top: 48px;
    padding-bottom: 0px;
}
.input_name3 {
    margin-right: 58px;
}

.label_form3 {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 3px;
    margin: 0px;
}
.input_text3 {
    font-family: 'NunitoSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 228px;
    color: #fff;
    background: #181818;
    border-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.input_text4 {
    width: 517px;
}
.checkbox_div3 {
    padding-top: 48px;
    padding-bottom: 50px;
    margin-left: 117px;
}
.submit3 {
    margin: auto;
}
.map_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    bottom: 221px;
    width: 100%;
    height: 954px;
    background-image: url('../Image/Map_back.png');
    background-color: #181818;
    margin: auto;
}
.map_back {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 954px;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}
.map {
    width: 925px;
    height: 465px;
    padding-top: 43px;

}
.title_contacts {
    font-family: 'YesevaOne-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 274px;
    padding-bottom: 26px;
    margin: 0px;
    text-align: center;
}
.header_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 221px;
    height: 133px;
    
}

@media screen and (max-width: 1300px) {
    .header {
        height: 57px;
    }
    .logo {
        margin-left: 18px;
    }
    .navigation {
        height: 57px;
        justify-content: space-between;
    }
    .nav_list {
        display: none;
    }
    .request_call {
        display: none;
    }
    .phone_number {
        margin-right: 18px;
    }
    .first_block {
        height: 476px;
    }
    .back_black {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 476px;
    }
    .text_block {
        width: auto;
        padding: 85px 0px 16px;
    }
    .title_main {
        font-size: 23px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .title_p {
        font-size: 14px;
        line-height: 19px;
        height: 94px;
        margin-top: 16px;
        margin-bottom: 32px;
    }
    .button_block {
        display: flex;
        flex-direction: column;
    }
    .calculate, .submit1 {
        width: 338px;
    }
    .submit {
        display: none;
    }
    .calculate {
        margin-bottom: 26px;
    }
    .submit1 {
        display: initial;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 61px;
    }
    .stroke_block {
        display: none;
    }
    .projects {
        display: none;
    }
    .img_chairs {
        display: none;
    }
    .mobile_complited_projects {
        display: block;
        width: 340px;
        height: 241px;
        margin-left: 0px;
    }
    .mobile_projects_img {
        width: 340px;
        height: 241px;
        margin-left: 0px;
    }
    .text_img_block {
        padding: 0px;
    }
    .text_block1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }
    .title_h2 {
        width: 253px;
        height: 66px;
        font-size: 22px;
        text-align: center;
        margin: auto;
        margin-top: 36px;
        padding: 0px;
        
    }
    .option_title {
        font-size: 14px;
    }
    .option_text {
        font-size: 11px;
    }
    .text_block_inf_p {
        display: none;
    }
    .text_block_inf_p_mobile {
        display: block;
        width: 311px;
        height: 86px;
        font-size: 11px;
        margin-top: 22px;
        
        text-align: center;
    }
    .text_block_options {
        width: 341px;
        height: 145px;
        margin-top: 37px;
        margin-bottom: 58px;
        padding-right: 0px;
    }
    .left_stroke {
        display: inline-flex;
        position: relative;
        bottom: 144px;
        left: 14px;
    }
    .vector_stroke_left {
        position: relative;
        right: 23px;
    }
    .right_stroke {
        display: inline-flex;
        position: relative;
        bottom: 142px;
        left: 245px;
    }
    .vector_stroke_right {
        position: relative;
        right: 21px;
    }
    .text_img_block_back {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 734px;
        background: #131313;
        position: relative;
    }
    .text_video_block {
        height: 815px;
        position: static;
        background-color: #131313;
    }
    .play_button {
        position: relative;
        width: 47px;
        height: 47px;
        bottom: 60%;
        right: 0px;
        left: 43%;
    }
    .img_block {
        display: none;
    }
    .img_video {
        width: 340px;
        height: 207px;
        background-size: 340px 207px;
    }
    .video_back {
        width: 340px;
        height: 207px;
    }
    .text_block2 {
       width: 340px;
    }
    .line {
        padding-top: 28px;
    }
    .text_under_video {
        display: none;
    }
    .text_under_video_mobile {
        width: 340px;
        height: 106px;
        display: initial;
        font-size: 11px;
        line-height: 19px;
        color: #fff;
        padding-top: 21px;
    }
    .text_img_block_types_of_repair {
        position: static;
        display: flex;
        flex-direction: column;
    }
    .form {
        width: 340px;
        height: 311px;
        margin-top: 61px;
    }
    .form1 {
        width: 340px;
        height: 311px;
        flex-direction: column;
    }
    .input_name {
        width: 340px;
        height: 45px;
        
    }
    .label_form {
        padding: 0px;
        color: rgba(255, 255, 255, 0.5);
    }
    .input_text {
        width: 340px;
        color: #fff;
        border-color: #fff;
        background-color: #131313;
    }
    .input_phone {
        margin-bottom: 106px;
    }
    .button_submit {
        width: 340px;
        height: 51px;
    }
    .text {
        color: #fff;
    }
    .checkbox_div {
        position: relative;
        bottom: 185px;
        right: 29px;
    }
    .title_text_img_block_types_of_repair {
        margin-top: 83px;
    }
    .block_of_three_rooms {
        flex-direction: column;
        width: 340px;
        height: auto;
    }
    .room1, .room2, .room3 {
        width: 340px;
        height: 484px;
        background-size: 340px 365px;
        margin-right: 0px;
        margin-bottom: 79px;
    }
    .title_and_ul {
        width: 270px;
        height: 241px;
        top: 223px;
        left: 0px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }
    .room1_title, .room2_title, .room3_title {
        font-size: 15px;
    }
    .Redecorating, .Overhaul, .Designer_Repair {
        width: 198px;
        height: 152px;
        line-height: 22px;
    }
    .price {
        width: 190px;
        height: 40px;
        font-size: 15px;
        margin-top: 15px;
    }
    .sketch_and_form_block {
        display: none;
    }
    .fantasies_block {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;
    }
    .fantasies_text_block {
        margin-left: 0px;
    }
    .back_img {
        width: 340px;
        height: 242px;
        background-size: 340px 242px;
        margin: 0px;
        margin-top: 86px;
        z-index: 1;
    }
    .left_stroke2 {
        display: inline-flex;
        position: relative;
        top: 37px;
        left: 10px;
    }
    .vector_stroke_left2 {
        position: relative;
        right: 23px;
    }
    .right_stroke2 {
        display: inline-flex;
        position: relative;
        top: 37px;
        left: 242px;
    }
    .vector_stroke_right2 {
        position: relative;
        right: 21px;
    }
    .back_black2 {
        background: none;
    }
    .fantasies_ul {
        display: none;
    }
    .fantasies_img_block1, .fantasies_img_block2 {
        display: none;
    }
    .title_fant_block {
        width: 340px;
        height: 66px;
        font-size: 22px;
        padding: 0px;
        margin: 0px;
        position: relative;
        bottom: 110px;
    }
    .our_clients_block {
        display: none;
    }
    .back_city {
        display: none;
    }
    .any_question_block {
        width: auto;
        height: 688px;
        background-color: #131313;
        bottom: 121px;
        z-index: 0;
    }
    .title_any_question {
        margin-top: 173px;
    }
    .form3 {
        width: 340px;
        height: 420px;
    }
    .input_name3 {
        width: 340px;
        height: 45px;
        padding: 0px;
        margin-top: 52px;
        margin-bottom: 63px;
        margin-right: 0px;
    }
    .label_form3 {
        padding: 0px;
        color: rgba(255, 255, 255, 0.5);
    }
    .input_text3 {
        width: 340px;
        color: #fff;
        border-color: #fff;
        background-color: #131313;
    }
    .input_phone3 {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 63px;
    }
    .input_question {
        padding: 0px;
    }
    .checkbox_div3 {
        margin: 0px;
        margin-top: 23px;
        margin-bottom: 67px;
        padding: 0px;
    }
    .submit3 {
        width: 340px;
        height: 51px;
    }
    .text2 {
        color: #fff;
    }
    .map_block {
        height: auto;
        position: relative;
        bottom: 122px;
        width: auto;
        background-image: none;
        background-color: #131313;
    }
    .map_back {
        background-image: none;
        background-color: #131313;
        width: auto;
        height: auto;
    }
    .map {
        width: 340px;
        height: 255px;
        margin-bottom: 42px;
        order: 0;
    }
    .title_contacts {
        width: 340px;
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        order: 1;
    }
    .br {
        display: none;
    }
    .icons_block {
        margin-top: 24px;
        margin-bottom: 49px;
        order: 1;
    }
    .map_img {
        width: 340px;
        height: 255px;
    }
    .letter, .photo {
        width: 39px;
        height: 39px;
        margin-right: 20px;
    }
    .photo {
        margin-right: 0px;
    }
    .header_footer {
        display: none;
    }
    .body {
        height: 5384px;
    }
}

@media screen and (min-width: 2500px) {
    .first_block {
        margin: auto;
        background-image: url('../Image/back_img_big.png');
    }
    .sketch_and_form_block {
        margin: auto;
    }
    .fantasies_block {
        margin: auto;
    }
    .back_city1 {
        margin-left: auto;
    }
    .back_city2 {
        margin-right: auto;
    }
}